.gradien {
    height: 100%;
    /* background: linear-gradient(128deg, #CCE0F3, #80A4CB); */
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

#wrapper-all {
    background-color: var(--bg-color);
    height: 100%;
}